*.aps
*.db*
*.dep
*.exe
*.htm
*.idb
*.ilk
*.ipch
*.la
*.lib
*.lo
*.log
*.m4
*.mac
*.manifest
*.ncb
*.o
*.obj
*.opendb
*.opt
*.pc
*.pdb
*.plg
*.res
*.suo
*.swp
*.user
.deps
.libs
Debug
INSTALL
Makefile
Makefile.in
Release
aclocal.m4
autom4te.cache
build64.h
compile
config.guess
config.h*
config.log
config.status
config.sub
configure
depcomp
embedded.h
install-sh
libtool
ltmain.sh
missing
sources
stamp-h1
