*.sh            eol=lf
*.ac            eol=lf
*.am            eol=lf
*.creole        eol=lf
*.sln           eol=crlf
*.vcproj        eol=crlf
*.vcxproj*      eol=crlf
*.inf.in        eol=crlf
*.rc            eol=crlf
*.def           eol=crlf
*.creole        export-ignore
.gitattributes  export-ignore
.gitignore      export-ignore
_*.sh           export-ignore
_*.cmd          export-ignore
appveyor.yml    export-ignore
