*.sh            eol=lf
*.ac            eol=lf
*.am            eol=lf
*.creole        eol=lf
*.sln           eol=crlf
*.vcproj        eol=crlf
*.vcxproj*      eol=crlf
*.inf.in        eol=crlf
*.rc            eol=crlf
*.def           eol=crlf
.gitattributes  export-ignore
.gitignore      export-ignore
*.creole        export-ignore