#ifdef APSTUDIO_INVOKED
#error Do not open or edit this file with App Studio
#endif

#if defined(__GNUC__)
#include "afxres.h"
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,1,1,144
 PRODUCTVERSION 1,1,1,144
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000904b0"
        BEGIN
            VALUE "Comments", "http://libusb.org/wiki/libwdi"
            VALUE "CompanyName", "libusb.org"
            VALUE "FileDescription", "Zadic Application"
            VALUE "FileVersion", "1, 1, 1, 144"
            VALUE "InternalName", "wdi-simple"
            VALUE "LegalCopyright", "See individual source files, GNU LGPL v2.1 or later."
            VALUE "LegalTrademarks", "http://www.gnu.org/licenses/lgpl-2.1.html"
            VALUE "OriginalFilename", "wdi-simple.exe"
            VALUE "ProductName", "wdi-simple"
            VALUE "ProductVersion", "1, 1, 1, 144"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x9, 1200
    END
END

// Must reference a manifest for visual styles and elevation
// Oh, and it must happen at the end, or MinGW will ignore it!
#if defined(__GNUC__)
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "common_controls.manifest"
#endif
