#ifdef APSTUDIO_INVOKED
#error Do not open or edit this file with App Studio
#endif

#if defined(__GNUC__)
#include "afxres.h"
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,3,718,0
 PRODUCTVERSION 1,3,718,0
 FILEFLAGSMASK 0x17L
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "000904b0"
        BEGIN
            VALUE "CompanyName", "akeo.ie"
            VALUE "FileDescription", "WDI-Simple"
            VALUE "FileVersion", "1.3.718"
            VALUE "InternalName", "WDI-Simple"
            VALUE "LegalCopyright", "© 2010-2017 Pete Batard (LGPL v3)"
            VALUE "LegalTrademarks", "http://www.gnu.org/copyleft/lesser.html"
            VALUE "OriginalFilename", "wdi-simple.exe"
            VALUE "ProductName", "WDI-Simple"
            VALUE "ProductVersion", "1.3.718"
            VALUE "Comments", "http://libwdi.akeo.ie"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x9, 1200
    END
END

// Must reference a manifest for visual styles and elevation
// Oh, and it must happen at the end, or MinGW will ignore it!
#if defined(__GNUC__)
CREATEPROCESS_MANIFEST_RESOURCE_ID RT_MANIFEST "common_controls.manifest"
#endif
